.field-setting .field-setting-header,
.field-setting .field-setting-header .form-label {
  cursor: pointer;
}

.field-setting .field-setting-header .expand-button {
  color: #999;
  font-size: 10px;
  cursor: pointer;
  transition: transform .3s cubic-bezier(.645,.045,.355,1);
}

.field-setting .field-setting-header .expand-button.revolving {
  transform: rotate(90deg);
}

.field-setting .field-setting-header .expand-button:hover {
  color: #555;
  cursor: pointer;
}

.field-setting .field-setting-banner .show-all-button {
  color: #ed7109;
  cursor: pointer;
  font-size: 12px;
}

.field-setting .field-setting-body .field-item-container {
  position: relative;
  display: flex;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
}

.field-setting .field-setting-body .field-item-container:hover {
  background-color: #f0f0f0;
}

.field-setting .field-setting-body .field-dragbar {
  color: #c2c2c2;
  cursor: grab;
}

.field-setting .field-item-container .dtable-switch .custom-switch .custom-switch-description {
  white-space: nowrap;
}
