.dtable-ui-clear-icon {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--bs-icon-color);
  pointer-events: all;
}

.dtable-ui-clear-icon:hover {
  background-color: var(--bs-icon-btn-hover-bg-color, var(--rc-calendar-icon-btn-hover-bg-color, rgba(0, 0, 0, 0.04)));
  border-radius: 4px;
}
