@import url('../lg/file-previewer/index.css');

.dtable-ui-file-editor-previewer.mobile-dtable-ui-file-editor-previewer {
  margin-top: 20px;
  width: 100%;
}

.dtable-ui-file-editor-previewer.mobile-dtable-ui-file-editor-previewer .dtable-ui-file-editor-previewer-wrapper {
  width: 100%;
  background-color: #fff;
  height: fit-content;
  border-top: 1px solid rgb(233, 233, 233);
  border-bottom: 1px solid rgb(233, 233, 233);
}

.dtable-ui-file-editor-previewer.mobile-dtable-ui-file-editor-previewer .dtable-ui-file-editor-previewer-wrapper .dtable-ui-file-editor-previewer-content {
  margin-top: 0px;
  height: fit-content;
}

.dtable-ui-file-editor-previewer.mobile-dtable-ui-file-editor-previewer .dtable-ui-file-editor-previewer-wrapper .dtable-ui-file-editor-previewer-content:after {
  display: none;
}

.dtable-ui-file-editor-previewer.mobile-dtable-ui-file-editor-previewer .dtable-ui-file-editor-previewer-content .dtable-ui-file-editor-previewer-box {
  height: 64px;
  width: calc(100% - 16px);
  border-bottom: 1px solid #e9e9e9;
  padding: 0.5rem 1rem 0.5rem 0;
  margin-left: 16px;
}

.dtable-ui-file-editor-previewer.mobile-dtable-ui-file-editor-previewer .dtable-ui-file-editor-previewer-content .dtable-ui-file-editor-previewer-box:last-child {
  border-bottom: none;
}

.mobile-dtable-ui-file-editor-previewer .dtable-ui-file-editor-previewer-operation {
  color: #666;
}
