.dtable-ui-filter-popover .popover {
  max-width: none;
  min-width: 300px;
}

.dtable-ui-filter-popover .popover .dtable-ui-filters-list {
  max-height: calc(100vh - 170px);
  overflow: auto;
}

.dtable-ui-filter-popover .dtable-ui-filters-list .filter-container .filter-term .filter-popover-duration-editor {
  width: 100% !important;
}

.dtable-ui-filter-popover .filter-popover-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}

.dtable-ui-filter-popover .add-buttons {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 1rem;
  font-size: 14px;
  font-weight: 500;
  background: #fff;
  color: #666;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  position: relative;
}

.dtable-ui-filter-popover .add-buttons .btn-add-filter,
.dtable-ui-filter-popover .add-buttons .btn-add-filter-group {
  display: inline-flex;
  align-items: center;
  height: 28px;
  margin-left: -10px;
  padding: 0 10px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  color: #666;
  cursor: pointer;
}

.dtable-ui-filter-popover .add-buttons .btn-add-filter:hover,
.dtable-ui-filter-popover .add-buttons .btn-add-filter-group:hover {
  background-color: #f5f5f5;
}

.dtable-ui-filter-popover .add-buttons .popover-add-icon {
  font-size: 12px;
  font-weight: 600;
  margin-right: 14px;
}

.dtable-ui-filter-popover .filter-term .checkbox-filter-term {
  display: flex;
  height: 100%;
  align-items: center;
}

.dtable-ui-filter-popover .filter-term .dtable-ui-filter-item-checkbox {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #e0e0e0;
  border-radius: 3px;
  cursor: pointer;
}
