.dtable-ui-single-select-editor {
  position: relative;
}

.dtable-ui-single-select-option-container {
  height: 40px;
  padding: 10px 5px;
  border-radius: 3px;
  cursor: pointer;
}

.dtable-ui-single-select-option-container:hover {
  background-color: #f5f5f5;
}
