.dtable-ui-selected-users-container {
  flex-wrap: wrap;
  height: auto !important;
  min-height: 38px;
  max-width: calc(100% - 10px);
  padding: .375rem 40px .375rem 1rem;
  position: relative;
}

.dtable-ui-selected-users-container.focus {
  border: 1px solid #3e84f7
}

.dtable-ui-selected-users-container .dtable-ui-user-select-placeholder {
  color: var(--bs-icon-color);
}

.select-dropdown-indicator {
  margin-left: -2px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%)
}

.select-dropdown-indicator .multicolor-icon {
  font-size: 12px;
  width: 12px;
  height: 12px;
}

.dtable-ui-user-select-popover .popover {
  width: 385px;
  max-width: 385px;
  background: var(--bs-popover-bg);
	border: 1px solid var(--bs-border-secondary-color);
	border-radius: 4px;
	box-shadow: var(--bs-border-secondary-shadow);
  margin-top: -4px;
}

.dtable-ui-user-select-container {
  position: relative;
}

.dtable-ui-user-select-container .dtable-ui-user-list-container {
  min-height: 160px;
  max-height: 200px;
  padding: 8px;
  overflow: auto;
  position: relative;
}

.dtable-ui-user-select-container .dtable-ui-user-list-container .dtable-ui-user-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  padding: 0 8px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.dtable-ui-user-select-container .dtable-ui-user-list-container .dtable-ui-user-item-container:hover,
.dtable-ui-user-select-container .dtable-ui-user-list-container .dtable-ui-user-item-container-highlight {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.no-user-search-result {
  color: #666666;
  font-size: 14px;
  padding-left: 10px;
  padding: 10px;
  overflow: auto;
}

.dtable-ui-user-select-popover .popover .dtable-ui-user-item {
  background: transparent;
}

.dtable-ui-user-list-container .dtable-ui-collaborator-check-icon .dtable-icon-check {
  color: #666666;
  font-size: 14px;
}

.dtable-ui-user-item {
  display: inline-flex;
  align-items: center;
  margin: 2px 4px 2px 0;
  padding: 0 8px 0 2px;
  height: 20px;
  font-size: 13px;
  border-radius: 10px;
  background: #eaeaea;
  overflow: hidden;
}

.dtable-ui-user-item .user-item .user-avatar img {
  width: 16px;
  height: 16px;
}

.dtable-ui-user-item .user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(0);
  flex-shrink: 0;
  margin-right: 4px;
}

.dtable-ui-user-item .user-name {
  margin-left: 5px;
}

.dtable-ui-user-item .user-avatar img {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.dtable-ui-user-item .user-remove {
  display: inline-block;
  width: 14px;
  margin: 0 -2px 0 2px;
}

.dtable-ui-user-item .user-remove .dtable-font {
  display: inline-block;
  font-size: 16px;
  color: #909090;
  transform: scale(.8);
  cursor: pointer;
}

.dtable-ui-user-item .user-remove .dtable-font:hover {
  color: #666666;
  cursor: pointer;
}

.dtable-ui-selected-users-container .dtable-ui-users-input {
  padding-right: 37px;
}
