{
  "env": {
    "test": {
      "presets": [["react-app", {"absoluteRuntime" : false, "BABEL_ENV" : "test"}]]
    },
    "development": {
      "presets": [["react-app", {"absoluteRuntime" : false, "BABEL_ENV" : "development"}]]
    },
    "production": {
      "presets": [["react-app", {"absoluteRuntime" : false, "BABEL_ENV" : "production"}]]
    },
    "node": {
      "presets": [
        [
          "@babel/env",
          {
            "loose": true,
            "shippedProposals": true,
            "modules": "commonjs"
          }
        ],
        "@babel/react"
      ],
      "plugins": [
        "@babel/plugin-proposal-export-default-from", 
        "@babel/plugin-proposal-export-namespace-from", 
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-runtime"
      ]
    }
  }
}