.group-select {
  position: relative;
}

.group-select.custom-select {
  display: flex;
  padding: 7px 8px !important;
  border-radius: 3px;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  user-select: none;
  text-align: left;
  border-color: 1px solid rgba(0, 40, 100, 0.12);
  height: auto;
  min-height: 38px;
  cursor: pointer;
}

.group-select.custom-select:focus,
.group-select.custom-select.focus {
  border-color: #1991eb !important;
  box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.25);
}

.group-select.custom-select.disabled:focus,
.group-select.custom-select.focus.disabled,
.group-select.custom-select.disabled:hover {
  border-color: rgba(0, 40, 100, 0.12) !important;
  box-shadow: unset;
  cursor: default;
}

.group-select .sf3-font-down {
  display: inline-block;
  color: #999;
  transform: translateY(2px);
  transition: all 0.1s;
  font-size: 14px !important;
}

.group-select .sf3-font-down:hover {
  color: #666;
}

.group-select .selected-option {
  display: flex;
  flex: 1;
  overflow: hidden;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}

.group-select.dtable-ui-collaborator-selector .option-group .option-group-content {
  padding: 10px;
}

.group-select.custom-select.dtable-ui-collaborator-selector .option-group .option-group-content {
  padding: 10px 0;
}

.group-select.custom-select.dtable-ui-collaborator-selector .option {
  padding: 5px 0 5px 10px !important;
  line-height: 20px;
}

.group-select .select-placeholder {
  line-height: 1;
  font-size: 14px;
  white-space: nowrap;
}

.group-select .selected-option-show {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.group-select .selected-option-show .selected-option-item {
  background-color: #F7F7F5;
  border-radius: 4px !important;
  display: flex;
  align-items: center;
  height: 24px;
}

.group-select .selected-option-show .selected-option-item .selected-option-item-name {
  font-size: 14px !important;
  color: #212529;
  margin-left: 6px;
  margin-right: 8px
}

.group-select .selected-option-show .selected-option-item .dtable-icon-x {
  cursor: pointer;
  color: #666666;
  font-size: 12px;
  margin-right: 6px;
}

.seatable-group-select .option-group-search {
  padding: 0 !important;
}

.seatable-group-select .form-control {
  border: none;
  border-bottom: 1px solid rgb(0 40 100 / 12%) !important;
  border-radius: 4px 4px 0 0;
  padding: .375rem 0 .375rem 1rem;
  height: 32px;
}

.seatable-group-select .form-control:focus {
  border-color: transparent !important;
  border-bottom: 1px solid rgb(0 40 100 / 12%) !important;
  box-shadow: none !important;
}

.option-group-content .dtable-icon-check {
  color: var(--bs-icon-color);
  font-size: 14px;
}
