@import url('../../css/mb-cell-editor.css');

@media screen and (max-width: 767.8px) {
  .dtable-ui-mb-collaborator-editor-body .mb-search-collaborator-items {
    padding: 8px 16px;
    margin-top: 20px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    background-color: #fff;
  }

  .dtable-ui-mb-collaborator-editor-body .mb-search-collaborator-items > input {
    outline: none;
    height: 30px;
    padding: 0;
    line-height: 30px;
    border: none;
  }

  .dtable-ui-mb-collaborator-editor-body .mb-search-collaborator-items > input:focus,
  .dtable-ui-mb-collaborator-editor-body .mb-search-collaborator-items > input:active {
    outline: none;
    box-shadow: none;
  }

  .dtable-ui-mb-collaborator-editor-body .mb-collaborators-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    min-height: 0;
  }

  .dtable-ui-mb-collaborator-editor-body .mb-collaborators-container .title {
    padding: 6px 16px;
    border-bottom: 1px solid #e9e9e9;
  }

  .dtable-ui-mb-collaborator-editor-body .mb-collaborators-container .content {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e9e9e9;
  }

  .dtable-ui-mb-collaborator-editor-body .search-result-none {
    padding: 16px 0 16px 16px;
  }

  .dtable-ui-mb-collaborator-editor-body .mb-collaborator-option-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 10px 10px 10px 16px;
    font-size: 13px;
    background-color: #fff;
    color: #202428;
  }

  .dtable-ui-mb-collaborator-editor-body .mb-collaborator-option-item {
    border-bottom: 1px solid #e9e9e9;
  }

  .dtable-ui-mb-collaborator-editor-body .mb-collaborator-option-item .mb-collaborator-info {
    display: flex;
    align-items: center;
  }

  .dtable-ui-mb-collaborator-editor-body .mb-collaborator-option-item .collaborator-avatar img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  .dtable-ui-mb-collaborator-editor-body .mb-collaborator-option-item .collaborator-name {
    padding: 0 10px;
    overflow: hidden;
  }

  .dtable-ui-mb-collaborator-editor-body .mb-collaborator-option-item .dtable-font {
    font-size: 12px;
    color: #798d99;
  }
}
