@import url('../../image-editor/pc-editor/index.css');

.dtable-ui-row-expand-digital-sign-container .dtable-ui-image-thumbnail {
  max-width: 200px;
  width: 200px;
}

.dtable-ui-row-expand-digital-sign-container .dtable-ui-image-thumbnail img {
  max-width: 192px;
  width: 192px;
  height: 96px;
  max-height: 96px;
}
