.mobile-dtable-ui-selector-editor .am-list-header {
  color: #212529;
  font-size: 16px;
  font-weight: bold;
}

.mobile-dtable-ui-selector-editor .am-list-header .mobile-selector-editor-close-btn {
  width: 20px;
  font-size: 16px;
  color: #798d99;
  right: 0px;
  position: absolute;
  bottom: 0px;
}

html:not([data-scale]) .mobile-dtable-ui-selector-editor .am-list-body:before,
html:not([data-scale]) .mobile-dtable-ui-selector-editor .am-list-body:after {
  background-color: #e9e9e9;
  transform: scaleY(1) !important;
}

.mobile-dtable-ui-selector-editor .am-list-body .mobile-dtable-ui-selector-editor-search + .mobile-dtable-ui-selector-editor-options {
  border-top: 1px solid #e9e9e9;
}

.mobile-dtable-ui-selector-editor .am-list-body .add-item-btn {
  color: #212529;
}

.mobile-dtable-ui-selector-editor .am-list-body .am-list-item {
  min-height: 50px;
}
