.dtable-ui-digital-sign-editor-container {
  position: fixed;
  width: 600px;
  box-shadow: 0 0 5px #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  overflow: hidden;
}

.dtable-ui-digital-sign-editor-header {
  height: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ededed;
}

.dtable-ui-digital-sign-editor-header .dtable-font {
  color: #aaa;
}

.dtable-ui-digital-sign-editor-logo {
  display: flex;
  align-items: center;
}

.dtable-ui-digital-sign-editor-operations {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  user-select: none;
}

.dtable-ui-digital-sign-editor-operations .btn-clear-dtable-ui-digital-sign {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  padding: 0 10px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  border: 0;
  color: #888;
  background-color: #f0f0f0;
}

.dtable-ui-digital-sign-editor-operations .btn-clear-dtable-ui-digital-sign:hover {
  color: #666;
  background-color: #dbdbdb;
  cursor: pointer;
}

.dtable-ui-digital-sign-editor-operations .dtable-icon-clear-format {
  color: #888;
  margin-right: 0.25rem;
  font-size: 14px;
}

.dtable-ui-digital-sign-editor-operations .btn-clear-dtable-ui-digital-sign:hover .dtable-icon-clear-format {
  color: #666;
}

.dtable-ui-digital-sign-editor-container .dtable-ui-digital-sign-panel {
  position: relative;
  height: 300px;
}
