@import url('../css/cell-formatter.css');

.dtable-ui.checkbox-formatter .checkbox-checked-mark {
  color: #20c933;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
}
