.seatable-search-input {
  width: 100%;
  padding: 6px 10px;
  min-width: 170px;
  position: relative;
  padding: 0;
  height: 32px;
  border-bottom: 1px solid var(--bs-border-secondary-color);
}

.seatable-select-search {
  border-bottom: 1px solid var(--bs-border-secondary-color);
  height: 32px;
}

.select-search-control {
  height: 100%;
  border: none;
  cursor: pointer;
  display: block;
  background-color: var(--bs-popover-bg);
  font-weight: 400;
  font-size: .875rem;
  line-height: 1.6;
  width: 100%;
  padding: .375rem 1rem;
}

.select-search-control:focus {
  outline: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  height: 100%;
}

.clear-icon-x {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  pointer-events: auto;
  color: var(--bs-icon-color);
  right: 13px;
  top: 6px;
  z-index: 1;
  height: 20px;
  width: 20px;
  cursor: pointer;
  border-radius: 3px;
}

.clear-icon-x .multicolor-icon {
  font-size: 12px;
}

.clear-icon-x:hover {
  background-color: var(--bs-btn-background-hover);
}

.seatable-search-input .none-search-result {
  height: 100px;
  width: 100%;
  padding: 10px;
  color: var(--bs-icon-color);
}

.dtable-popover .select-search-control {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
