@import url('../../css/cell-editor.css');

.dtable-ui-select-editor-popover .select-options-search {
  padding: 10px 10px 0 10px;
}

.dtable-ui-select-editor-popover .select-options-search input {
  height: 28px;
}

.dtable-ui-select-editor-popover .select-options-container {
  min-height: 160px;
  max-height: 200px;
  margin: 10px 0;
  padding: 0 10px;
  overflow: auto;
}

/* option item */
.dtable-ui-select-editor-popover .select-option-item {
  display: flex;
  height: 30px;
  padding-left: 12px;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
}

.dtable-ui-select-editor-popover .select-option-item:hover {
  background-color: #f5f5f5;
}

.dtable-ui-select-editor-popover .option-info {
  flex: 1;
  display: flex;
  align-items: center;
}

.dtable-ui-select-editor-popover .option-checked {
  width: 20px;
  text-align: center;
}

.dtable-ui-select-editor-popover .option-checked .dtable-font {
  font-size: 12px;
  color: #798d99;
}

.dtable-ui-select-editor-popover .select-options-add {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 30px;
  border-top: 1px solid #ccc;
}

.dtable-ui-select-editor-popover .select-options-add .dtable-font {
  margin-right: 5px;
  font-size: 12px;
  font-weight: 600;
}

.dtable-ui-select-editor-popover .select-options-add > span {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #212529;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
