.mobile-dtable-ui-row-expand-image {
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 50px;
}

.mobile-dtable-ui-row-expand-image .mobile-dtable-ui-row-expand-add-btn {
  height: 100%;
  line-height: 50px;
}

.mobile-dtable-ui-row-expand-image .mobile-dtable-ui-row-expand-img-item {
  height: auto;
  max-height: 150px;
  width: calc(50% - 10px);
  margin-left: 0px;
  margin-right: 0px;
}

.mobile-dtable-ui-row-expand-image .mobile-dtable-ui-row-expand-img-item img {
  max-width: 100%;
  max-height: 100%;
}

.mobile-dtable-ui-row-expand-image .mobile-dtable-ui-row-expand-img-item:nth-child(even) {
  margin-left: 20px;
}
