.dtable-ui-collaborator-editor {
  position: relative;
}

.dtable-ui-collaborator-editor-container .collaborators-container {
  margin-top: 8px;
}

.dtable-ui-collaborator-editor-popover .collaborator-search-container {
  padding: 10px 10px 0 10px;
}

.dtable-ui-collaborator-editor-popover .collaborator-search-container input {
  height: 28px;
}

.dtable-ui-collaborator-editor-popover .collaborator-list-container {
  min-height: 160px;
  max-height: 200px;
  margin: 10px 0;
  padding: 0 10px;
  overflow: auto;
}

.dtable-ui-collaborator-editor-popover .collaborator-list-container .collaborator-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding-left: 12px;
  font-size: 14px;
  cursor: pointer;
}

.dtable-ui-collaborator-editor-popover .collaborator-list-container .collaborator-item-container:hover {
  background-color: #f5f5f5;
}

.dtable-ui-collaborator-editor-popover .dtable-ui.collaborator-item {
  background: none;
}

.dtable-ui-collaborator-editor-popover .collaborator-checked {
  width: 20px;
  text-align: center;
}

.dtable-ui-collaborator-editor-popover .collaborator-checked .dtable-font {
  font-size: 12px;
  color: #798d99;
}
