.mobile-dtable-ui-row-expand-input-editor-container {
  height: 50px;
  line-height: 50px;
}

.mobile-dtable-ui-row-expand-input-editor-container .form-control {
  border: none;
  padding: 0;
  height: 50px;
}

.mobile-dtable-ui-row-expand-input-editor-container .form-control:focus {
  box-shadow: none;
}
