.dtable-ui-mobile-digital-sign-editor .dtable-ui-mobile-full-screen-page-body {
  position: relative;
  flex: 1;
}

.dtable-ui-mobile-digital-sign-editor .dtable-ui-digital-sign-panel {
  margin-top: 20px;
}

.dtable-ui-mobile-digital-sign-editor .dtable-ui-digital-sign-editor-operations {
  z-index: 3;
  top: 10px;
  right: 16px;
}

.dtable-ui-mobile-digital-sign-editor .dtable-ui-digital-sign-editor-operations .btn-clear-dtable-ui-digital-sign {
  color: rgb(240, 159, 63);
  background-color: unset;
}

.dtable-ui-mobile-digital-sign-editor .dtable-ui-digital-sign-panel-mask {
  top: 0;
  left: 0;
  z-index: 4;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .4);
}

.dtable-ui-mobile-digital-sign-editor .dtable-ui-digital-sign-panel-mask .dtable-ui-digital-sign-panel-mask-container {
  color: #fff;
}
