.dtable-ui-row-expand-rate-editor {
  display: flex;
}

.dtable-ui-row-expand-rate-editor > div {
  padding-right: 5px;
  cursor: pointer;
  line-height: 1.5;
}

.dtable-ui-row-expand-rate-editor .rate-item-active {
  opacity: 1 !important;
}
