@import url('../css/cell-formatter.css');

.dtable-ui.button-formatter {
  height: 26px;
  width: 80px;
  padding: 5px 8px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
