.modal-header .dtable-modal-close.close {
  padding: 14px 16px;
  opacity: 1;
  margin: -1rem -1rem -1rem auto;
  background-color: transparent;
  border: 0;
  float: right;
  font-size: 1.40625rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
}

.modal-header .dtable-modal-close.close:not(:disabled):not(.disabled):hover {
  opacity: 1;
}

.modal-header .dtable-modal-close .dtable-modal-close-inner {
  width: 28px;
  height: 28px;
  font-size: 22.5px; /* same with Seafile close icon */
}
