.dtable-custom-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 0 6px 16px rgba(0, 0, 0, 0.1) !important;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.dtable-custom-footer>* {
  margin: 0.25rem;
}
