.dtable-custom-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #eee !important;
}

.dtable-custom-footer>* {
  margin: 0.25rem;
}
