.dtable-ui-comments-footer .dtable-ui-comment-input {
  background-color: #fff;
  height: 90px;
  overflow: auto;
  margin: 0px;
  padding: 9px;
  min-height: 90px;
  border: 1px solid #e6e6dd;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-size: 14px;
}

.dtable-ui-comments-footer .dtable-ui-comment-input.dtable-ui-comment-input-archive {
  height: 130px;
}

.dtable-ui-comments-footer .dtable-ui-comment-input:empty::before {
  content: attr(placeholder);
  color: #868E96;
}

.dtable-ui-comments-footer .dtable-ui-comment-input .image-container {
  display: inline-block;
  cursor: pointer;
}

.dtable-ui-comments-footer .dtable-ui-comment-caret-list {
  background: #fff;
  position: absolute;
  padding: 10px 0;
  max-height: 200px;
  overflow: auto;
  min-width: 150px;
  /* higher than row expand */
  z-index: 1049;
  border-radius: 5px;
  border: 1px solid #ededed;
  max-width: 200px;
}

.dtable-ui-comments-footer .dtable-ui-comment-caret-list .comment-participant-item {
  padding: 5px 0;
}

.dtable-ui-comments-footer .dtable-ui-comment-caret-list .comment-participant-item.active,
.dtable-ui-comments-footer .dtable-ui-comment-caret-list .comment-participant-item:hover {
  background: #f5f5f5;
  cursor: pointer;
}
