.dtable-ui-row-expand-url-editor {
  position: relative;
  width: inherit;
}

.dtable-ui-row-expand-url-editor .dtable-ui-row-expand-url-input {
  text-decoration: underline;
  text-decoration-color: #999;
  padding-right: 40px;
}

.dtable-ui-row-expand-jump-link {
  display: inline-block;
  font-size: 14px;
  height: 22px;
  position: absolute;
  top: 8px;
  right: 9px;
  border: 1px solid #eee;
  padding: 0 4px;
  color: #999;
  border-radius: 2px;
  background: #fff;
  cursor: pointer;
  box-shadow: 0 0 1px;
}

.dtable-ui-row-expand-jump-link:hover {
  background: #f5f5f5;
  border: 1px solid #c9c9c9;
}
