.mobile-dtable-ui-geolocation-map-editor .mobile-dtable-ui-geolocation-map-editor-input-container {
  height: 60px;
  padding-top: 16px;
  width: 100%;
}

.mobile-dtable-ui-geolocation-map-editor .mobile-dtable-ui-geolocation-map-editor-map {
  flex: 1;
  overflow: hidden;
  width: 100%;
}
