/* common */
.editor-popover {
  width: 320px;
  box-shadow: 0 0 5px #ccc;
  background-color: #fff;
  z-index: 10;
}

/* pc-single-select */
.single-select-editor {
  position: relative;
}

.select-editor-container {
  display: inline-block;
  height: 30px;
  padding: 0 10px;
}

.select-editor-popover .select-options-search {
  padding: 10px 10px 0 10px;
}

.select-editor-popover .select-options-search input {
  height: 28px;
}

.select-editor-popover .select-options-container {
  min-height: 160px;
  padding: 10px;
}

/* option item */
.select-editor-popover .select-option-item {
  display: flex;
  height: 30px;
  padding-left: 12px;
  font-size: 14px;
  line-height: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.select-editor-popover .select-option-item:hover {
  background-color: #f5f5f5;
}

.select-editor-popover .option-info {
  flex: 1;
  display: flex;
  align-items: center;
}

.select-editor-popover .option-checked {
  width: 20px;
  margin-right: 4px;
  text-align: center;
  color: #798d99;
}

.select-editor-popover .select-options-add {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 30px;
  border-top: 1px solid #ccc;
}

.select-editor-popover .select-options-add .dtable-font {
  margin-right: 5px;
  font-size: 12px;
  font-weight: 600;
}

.select-editor-popover .select-options-add > span {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #212529;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* mobile single-select */
@media screen and (max-width: 768px) {
  /* common */
  .mb-editor-popover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background-color: #f5f5f5;
  }

  .mb-editor-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #fff;
  }

  .mb-editor-header .editor-header-left-content {
    min-width: 50px;
    padding: 13px 16px;
    font-size: 14px;
    color: #888;
  }

  .mb-editor-header .editor-header-title {
    flex: 1;
    font-size: 18px;
    text-align: center;
    text-overflow: ellipsis;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
  }

  .mb-editor-header .editor-header-right-content {
    min-width: 50px;
    padding: 13px 16px;
    font-size: 14px;
    color: #888;
  }

  .mb-editor-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    overflow: auto;
  }

  /* select-editor */
  .mb-select-editor-body .mb-selected-item {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  .mb-select-editor-body .mb-selected-item .title {
    padding: 6px 16px;
    border-bottom: 1px solid #e9e9e9;
  }

  .mb-select-editor-body .mb-selected-item .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 50px;
    padding: 8px 16px;
    border-bottom: 1px solid #e9e9e9;
    overflow: auto;
    background-color: #fff;
  }

  .mb-select-editor-body .mb-selected-item .content .select-option-item {
    margin: 3px 10px 3px 0;
  }

  .mb-select-editor-body .mb-search-select-items {
    padding: 8px 16px;
    margin-top: 20px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    background-color: #fff;
  }

  .mb-select-editor-body .mb-search-select-items > input {
    outline: none;
    height: 30px;
    padding: 0;
    line-height: 30px;
    border: none;
  }
  .mb-select-editor-body .mb-search-select-items > input:focus,
  .mb-select-editor-body .mb-search-select-items > input:active {
    outline: none;
    box-shadow: none;
  }

  .mb-select-editor-body .mb-select-options-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .mb-select-editor-body .mb-select-options-container .title {
    padding: 6px 16px;
    border-bottom: 1px solid #e9e9e9;
  }

  .mb-select-editor-body .mb-select-options-container .content {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    border-bottom: 1px solid #e9e9e9;
    background-color: #fff;
  }

  .mb-select-options-container .search-result-none {
    padding: 16px 0;
  }

  .mb-select-options-container .mb-select-option-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 10px;
    padding-left: 0;
    font-size: 13px;
    color: #202428;
  }

  .mb-select-options-container .mb-select-option-item + .mb-select-option-item {
    border-top: 1px solid #e9e9e9;
  }

  .mb-select-options-container .mb-select-option-item .item-name {
    display: inline-block;
    padding: 0 10px;
    margin-top: 5px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    text-overflow: ellipsis;
    border-radius: 10px;
    overflow: hidden;
  }

  .mb-select-editor-body .mb-create-select-item {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 10px;
    margin-top: 20px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #e9e9e9;
    background-color: #fff;
  }

  .mb-select-editor-body .mb-create-select-item .dtable-font {
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600px;
    transition: translateY(1px);
  }

  .mb-select-editor-body .mb-create-select-item .add-new-option {
    font-size: 14px;
    font-weight: 500px;
  }

}
