/* common */
.editor-popover {
  width: 320px;
  box-shadow: 0 0 5px #ccc;
  background-color: #fff;
  z-index: 10;
}

@media screen and (max-width: 767.8px) {
  .mb-editor-popover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background-color: #f5f5f5;
    z-index: 9;
  }

  .mb-editor-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #fff;
  }

  .mb-editor-header .editor-header-left-content {
    min-width: 50px;
    padding: 13px 16px;
    font-size: 14px;
    color: #888;
  }

  .mb-editor-header .editor-header-title {
    flex: 1;
    font-size: 18px;
    text-align: center;
    text-overflow: ellipsis;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
  }

  .mb-editor-header .editor-header-right-content {
    min-width: 50px;
    padding: 13px 16px;
    font-size: 14px;
    color: #888;
  }

  .mb-editor-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    overflow: auto;
  }
}

/* pc-single-select */
/* pc-multiple-select */
.single-select-editor,
.multiple-select-editor {
  position: relative;
}

.select-editor-container {
  display: inline-block;
  height: 30px;
  padding: 0 10px;
}

.select-editor-popover .select-options-search {
  padding: 10px 10px 0 10px;
}

.select-editor-popover .select-options-search input {
  height: 28px;
}

.select-editor-popover .select-options-container {
  min-height: 160px;
  max-height: 200px;
  margin: 10px 0;
  padding: 0 10px;
  overflow: auto;
}

/* option item */
.select-editor-popover .select-option-item {
  display: flex;
  height: 30px;
  padding-left: 12px;
  font-size: 14px;
  line-height: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.select-editor-popover .select-option-item:hover {
  background-color: #f5f5f5;
}

.select-editor-popover .option-info {
  flex: 1;
  display: flex;
  align-items: center;
}

.select-editor-popover .option-checked {
  width: 20px;
  text-align: center;
}

.select-editor-popover .option-checked .dtable-font {
  font-size: 12px;
  color: #798d99;
}

.select-editor-popover .select-options-add {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 30px;
  border-top: 1px solid #ccc;
}

.select-editor-popover .select-options-add .dtable-font {
  margin-right: 5px;
  font-size: 12px;
  font-weight: 600;
}

.select-editor-popover .select-options-add > span {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #212529;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* mobile select-editor */
@media screen and (max-width: 767.8px) {
  .mb-select-editor-body .mb-selected-item {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  .mb-select-editor-body .mb-selected-item .title {
    padding: 6px 16px;
    border-bottom: 1px solid #e9e9e9;
  }

  .mb-select-editor-body .mb-selected-item .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 50px;
    padding: 8px 16px;
    border-bottom: 1px solid #e9e9e9;
    overflow: auto;
    background-color: #fff;
  }

  .mb-select-editor-body .mb-selected-item .content .select-option-item {
    margin: 3px 10px 3px 0;
  }

  .mb-select-editor-body .mb-search-select-items {
    padding: 8px 16px;
    margin-top: 20px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    background-color: #fff;
  }

  .mb-select-editor-body .mb-search-select-items > input {
    outline: none;
    height: 30px;
    padding: 0;
    line-height: 30px;
    border: none;
  }
  .mb-select-editor-body .mb-search-select-items > input:focus,
  .mb-select-editor-body .mb-search-select-items > input:active {
    outline: none;
    box-shadow: none;
  }

  .mb-select-editor-body .mb-select-options-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .mb-select-editor-body .mb-select-options-container .title {
    padding: 6px 16px;
    border-bottom: 1px solid #e9e9e9;
  }

  .mb-select-editor-body .mb-select-options-container .content {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e9e9e9;
  }

  .mb-select-options-container .search-result-none {
    padding: 16px 0;
  }

  .mb-select-options-container .mb-select-option-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 10px 10px 10px 16px;
    font-size: 13px;
    background-color: #fff;
    color: #202428;
  }

  .mb-select-options-container .mb-select-option-item + .mb-select-option-item {
    border-top: 1px solid #e9e9e9;
  }

  .mb-select-options-container .mb-select-option-item .item-name {
    display: inline-block;
    padding: 0 10px;
    margin-top: 5px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    text-overflow: ellipsis;
    border-radius: 10px;
    overflow: hidden;
  }

  .mb-select-options-container .mb-select-option-item .dtable-font {
    font-size: 12px;
    color: #798d99;
  }

  .mb-select-editor-body .mb-create-select-item {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 10px;
    margin-top: 20px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #e9e9e9;
    background-color: #fff;
  }

  .mb-select-editor-body .mb-create-select-item .dtable-font {
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600px;
    transition: translateY(1px);
  }

  .mb-select-editor-body .mb-create-select-item .add-new-option {
    font-size: 14px;
    font-weight: 500px;
  }

}

/* collaborator-editor */
.collaborator-editor {
  position: relative;
}

.collaborator-editor-container .collaborators-container {
  margin-top: 8px;
}

.collaborator-editor-popover .collaborator-search-container {
  padding: 10px 10px 0 10px;
}

.collaborator-editor-popover .collaborator-search-container input {
  height: 28px;
}

.collaborator-editor-popover .collaborator-list-container {
  min-height: 160px;
  max-height: 200px;
  margin: 10px 0;
  padding: 0 10px;
  overflow: auto;
}

.collaborator-editor-popover .collaborator-list-container .collaborator-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding-left: 12px;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}

.collaborator-editor-popover .collaborator-list-container .collaborator-item-container:hover {
  background-color: #f5f5f5;
}

.collaborator-editor-popover .collaborator-checked {
  width: 20px;
  text-align: center;
}

.collaborator-editor-popover .collaborator-checked .dtable-font {
  font-size: 12px;
  color: #798d99;
}

@media screen and (max-width: 767.8px) {
  .mb-collaborator-editor-body .mb-search-collaborator-items {
    padding: 8px 16px;
    margin-top: 20px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    background-color: #fff;
  }

  .mb-collaborator-editor-body .mb-search-collaborator-items > input {
    outline: none;
    height: 30px;
    padding: 0;
    line-height: 30px;
    border: none;
  }
  .mb-collaborator-editor-body .mb-search-collaborator-items > input:focus,
  .mb-collaborator-editor-body .mb-search-collaborator-items > input:active {
    outline: none;
    box-shadow: none;
  }

  .mb-collaborator-editor-body .mb-collaborators-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    min-height: 0;
  }

  .mb-collaborator-editor-body .mb-collaborators-container .title {
    padding: 6px 16px;
    border-bottom: 1px solid #e9e9e9;
  }

  .mb-collaborator-editor-body .mb-collaborators-container .content {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e9e9e9;
  }

  .mb-collaborator-editor-body .search-result-none {
    padding: 16px 0 16px 16px;
  }

  .mb-collaborator-editor-body .mb-collaborator-option-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 10px 10px 10px 16px;
    font-size: 13px;
    background-color: #fff;
    color: #202428;
  }

  .mb-collaborator-editor-body .mb-collaborator-option-item {
    border-bottom: 1px solid #e9e9e9;
  }

  .mb-collaborator-editor-body .mb-collaborator-option-item .mb-collaborator-info {
    display: flex;
    align-items: center;
  }

  .mb-collaborator-editor-body .mb-collaborator-option-item .collaborator-avatar img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  .mb-collaborator-editor-body .mb-collaborator-option-item .collaborator-name {
    padding: 0 10px;
    overflow: hidden;
  }

  .mb-collaborator-editor-body .mb-collaborator-option-item .dtable-font {
    font-size: 12px;
    color: #798d99;
  }
}

/* link-editor */
.link-editor {
  position: relative;
}

.link-editor-container {
  display: inline-block;
  height: 30px;
  padding: 0 10px;
}

.link-editor-popover .link-options-search {
  padding: 10px 10px 0 10px;
}

.link-editor-popover .link-options-search input {
  height: 28px;
}

.link-editor-popover .link-options-container {
  min-height: 160px;
  max-height: 200px;
  margin: 10px 0;
  padding: 0 10px;
  overflow: auto;
}

/* option item */
.link-editor-popover .link-option-item {
  display: flex;
  height: 30px;
  padding-left: 12px;
  font-size: 14px;
  line-height: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.link-editor-popover .link-option-item:hover {
  background-color: #f5f5f5;
}

.link-editor-popover .option-info {
  flex: 1;
  display: flex;
  align-items: center;
}

.link-editor-popover .option-info .option-name {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link-editor-popover .option-checked {
  width: 20px;
  text-align: center;
}

.link-editor-popover .option-checked .dtable-font {
  font-size: 12px;
  color: #798d99;
}

.link-editor-popover .select-options-add {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 30px;
  border-top: 1px solid #ccc;
}

@media screen and (max-width: 767.8px) {
  .mb-link-editor-body .mb-search-link-items {
    padding: 8px 16px;
    margin-top: 20px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    background-color: #fff;
  }

  .mb-link-editor-body .mb-search-link-items > input {
    outline: none;
    height: 30px;
    padding: 0;
    line-height: 30px;
    border: none;
  }
  .mb-link-editor-body .mb-search-link-items > input:focus,
  .mb-link-editor-body .mb-search-link-items > input:active {
    outline: none;
    box-shadow: none;
  }

  .mb-link-editor-body .mb-link-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    min-height: 0;
  }

  .mb-link-editor-body .mb-link-container .title {
    padding: 6px 16px;
    border-bottom: 1px solid #e9e9e9;
  }

  .mb-link-editor-body .mb-link-container .content {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e9e9e9;
  }

  .mb-link-editor-body .search-result-none {
    padding: 16px 0 16px 16px;
  }

  .mb-link-editor-body .mb-link-option-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 10px 10px 10px 16px;
    font-size: 13px;
    color: #202428;
    background-color: #fff;
  }

  .mb-link-editor-body .mb-link-option-item {
    border-bottom: 1px solid #e9e9e9;
  }

  .mb-link-editor-body .mb-link-option-item .mb-option-info {
    display: flex;
    align-items: center;
  }

  .mb-link-editor-body .mb-link-option-item .option-name {
    padding: 0 10px;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #eceff4;
    border-radius: 3px;
  }

  .mb-link-editor-body .mb-link-option-item .dtable-font {
    font-size: 12px;
    color: #798d99;
  }
}

.date-editor .date-editor-container {
  display: flex;
  width: 400px;
}

@media screen and (max-width: 767.8px) {
  .mb-date-editor-body .mb-date-editor-input {
    display: flex;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
  }

  .mb-date-editor-body .mb-date-editor-input .date-input {
    flex: 1;
    background-color: #fff;
  }

  
  .mb-date-editor-body .mb-date-editor-input .date-input .date-input-day {
    background-color: #f5f5f5;
    border: 1px solid #e9e9e9;
    margin: 10px;
    padding: 3px 5px;
    border-radius: 3px;
  }

  .mb-date-editor-body .mb-date-editor-picker {
    display: block;
    position: relative;
    margin-top: 20px;
    line-height: 1.5;
    box-sizing: border-box;
  }

  .mb-date-editor-body .mb-date-editor-clear {
    padding: 10px 0;
    margin-top: 20px;
    border-bottom: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
    text-align: center;
    color: #d27053;
    background-color: #fff;
  }

  .am-picker-popup-header .am-picker-popup-item {
    color: #E5A252;
  }
}
