.cell-formatter-container {
  overflow: hidden;
  line-height: 1;
}

/* collaborator */
.collaborator-formatter .collaborator-item {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  padding: 0 8px 0 2px;
  height: 20px;
  font-size: 13px;
  border-radius: 10px;
  background: #eaeaea;
}

.collaborator-item .collaborator-avatar,
.collaborator-item .collaborator-name,
.collaborator-item .collaborator-remove {
  height: 20px;
  line-height: 20px;
}

.collaborator-item .collaborator-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px 0 2px;
}

.collaborator-item .collaborator-avatar img {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.collaborator-item .collaborator-remove {
  display: inline-block;
  width: 14px;
  margin: 0 -2px 0 2px;
}

.collaborator-item .collaborator-remove .dtable-font {
  display: inline-block;
  font-size: 12px;
  color: #909090;
  transform: scale(.8);
  cursor: pointer;
}

.collaborator-item .collaborator-remove .dtable-font:hover {
  color: #666666;
  cursor: pointer;
}

/* long-text */
.long-text-formatter {
  display: flex;
  align-items: center;
  height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.long-text-formatter .long-text-links {
  display: inline-block;
  height: 20px;
  padding: 2px;
  margin: 4px;
  color: #9c9c9c;
  background-color: #f0f0f0;
  border-radius: 3px;
}

.long-text-formatter .long-text-images {
  margin-right: -10px;
}

.long-text-formatter .long-text-images img {
  max-width: 28px;
  max-height: 28px;
  border: 1px solid #f0f0f0;
  box-sizing: border-box;
  border-radius: 3px;
}

.long-text-formatter .long-text-images .image-number {
  display: inline-block;
  min-width: 14px;
  padding: 0 3px;
  line-height: 14px;
  font-style: normal;
  font-size: 12px;
  border-radius: 6px;
  background-color: #999;
  color: #fff;
  transform: translate(-50%, 9px) scale(0.8);
}


