.dtable-ui-mobile-full-screen-page {  
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #f5f5f5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
