.dtable-radio {
  user-select: none;
  cursor: default;
  display: inline-flex;
  margin: 0 0 4px;
  font-size: 14px;
}

.dtable-radio:not(.dtable-radio-disable):hover {
  cursor: pointer;
}

.dtable-radio .dtable-radio-input {
  z-index: -1;
  opacity: 0;
}

.dtable-radio .dtable-radio-indicator {
  display: inline-block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #bdbdbd;
}

.dtable-radio .dtable-radio-selected-indicator {
  background-color: #ED7109;
  border: unset !important;
}

.dtable-radio .dtable-radio-indicator-disable {
  background-color: #f5f5f5;
}

.dtable-radio .dtable-radio-selected-indicator.dtable-radio-indicator-disable {
  background-color: #ED7109;
}

.dtable-radio .dtable-radio-selected-indicator::before {
  display: inline-block;
  content: '';
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  position: absolute;
  left: 5px;
  top: 5px;
  border-radius: 50%;
}

.dtable-radio .dtable-radio-description {
  flex: 1;
  color: inherit;
  transition: .3s color;
  line-height: 16px;
}
