.dtable-radio {
  user-select: none;
  cursor: default;
  display: inline-flex;
  align-items: center;
  margin: 0;
  font-size: 14px;
}

.dtable-radio:not(.dtable-radio-disable):hover {
  cursor: pointer;
}

.dtable-radio .dtable-radio-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.dtable-radio .dtable-radio-indicator {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #bdbdbd;
  position: relative;
}

.dtable-radio .dtable-radio-selected-indicator {
  background-color: #FF8000;
  border: unset !important;
}

.dtable-radio .dtable-radio-selected-indicator::before {
  display: inline-block;
  content: '';
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  position: absolute;
  left: 5px;
  top: 5px;
  border-radius: 50%;
}

.dtable-radio.dtable-radio-disable .dtable-radio-indicator {
  background-color: #f5f5f5;
}

.dtable-radio.dtable-radio-disable .dtable-radio-selected-indicator::before {
  opacity: .5;
}

.dtable-radio .dtable-radio-description {
  margin-left: .5rem;
  color: inherit;
  transition: .3s color;
  line-height: 16px;
}
