.seatable-customize-select {
  position: relative;
  display: flex;
  padding: 0 16px;
  border-radius: 4px;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  user-select: none;
  text-align: left;
  line-height: 1.5;
  background-image: none;
  font-size: 14px;
  color: var(--bs-body-color);
  border: 1px solid rgba(0, 40, 100, 0.12);
}

.seatable-customize-select:focus,
.seatable-customize-select.focus {
  border-color: #3E84F7 !important;
}

.seatable-customize-select.disabled:focus,
.seatable-customize-select.focus.disabled,
.seatable-customize-select.disabled:hover {
  border-color: rgba(0, 40, 100, 0.12) !important;
  box-shadow: unset;
  cursor: default;
}

.seatable-customize-select:hover {
  cursor: pointer;
  border-color: var(--bs-border-color);
}

.seatable-customize-select .seatable-multicolor-icon-down {
  width: 12px;
  height: 12px;
  color: var(--bs-icon-color);
}

.seatable-customize-select .selected-option {
  display: flex;
  flex: 1;
  overflow: hidden;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background: inherit;
  height: 24px;
}

.seatable-check-color {
  color: var(--bs-icon-color);
}

.seatable-customize-select.dtable-ui-collaborator-selector .seatable-option-group .seatable-option-group-content,
.seatable-customize-select.selector-group .seatable-option-group .seatable-option-group-content {
  padding: 10px;
}

.seatable-customize-select.dtable-ui-collaborator-selector .seatable-option-group .seatable-option-group-content {
  padding: 10px 0;
}

.seatable-customize-select.dtable-ui-collaborator-selector .option {
  padding: 5px 0 5px 10px !important;
  line-height: 20px;
}

.seatable-customize-select.selector-group .option {
  height: 30px;
  display: flex;
  align-items: center;
}

.seatable-customize-select.selector-group .select-group-option {
  justify-content: space-between;
}

.seatable-customize-select.selector-group .selected-option .selected-group {
  padding: 0 2px;
  background: #eceff4;
  border-radius: 3px;
}

.seatable-customize-select .select-placeholder {
  line-height: 1;
  font-size: 14px;
  white-space: nowrap;
  color: #868E96;
  margin-right: 8px;
}

.seatable-customize-select .disabled .select-placeholder {
  opacity: 0.65;
}

.seatable-customize-select .selected-option-show {
  height: 24px;
  line-height: 24px;
  margin-right: 8px;
  width: calc(100% - 20px);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.seatable-customize-select .selected-option .multicolor-icon {
  font-size: 12px;
}

.seatable-customize-select .multiple-check-icon,
.seatable-customize-select .header-icon .dtable-font,
.seatable-option-group .select-label .header-icon .dtable-font {
  color: var(--bs-icon-secondary-color) !important;
  cursor: default;
  font-size: 14px;
}

.seatable-customize-select .header-icon {
  display: inline-block;
  padding: 0 .5rem 0 0!important;
  margin-left: 0 !important;
}

.selector-group-select .selected-option-show .selected-option-item {
  align-items: center;
  background-color: #f7f7f5;
  border-radius: 4px;
  display: flex;
  height: 24px;
  line-height: 24px;
  margin-right: 4px;
  padding: 0 6px 0 6px;
}

.selector-group-select .selected-option-show .selected-option-item .selected-option-item-name {
  margin-left: 6px;
  color: #212519;
  font-size: 14px;
  margin-right: 8px
}

.selector-group-select .dtable-icon-x {
  color: var(--bs-icon-color);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.selector-group-select .selected-option-show {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  height: auto;
}

.selector-group-select {
  padding: 7px 16px 7px 8px;
}

.selector-group-select .selected-option {
  align-items: center;
  background:#fff;
  display: flex;
  flex: 1 1;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: hidden;
  height: auto;
  min-height: 24px
}

.selector-group-select {
  height: auto;
}
