@import url('../css/cell-formatter.css');

.dtable-ui.row-expand-file-formatter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 550px;
}

.dtable-ui.row-expand-file-formatter .row-expand-item-file {
  height: 100px;
  width: 100px;
  border: 2px solid #ededed;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  position: relative;
}

.dtable-ui.row-expand-file-formatter .row-expand-item-file:nth-child(5n + 1) {
  margin-left: 0;
}

.dtable-ui.row-expand-file-formatter .row-expand-item-file:hover {
  border-color: #c9c9c9;
}

.dtable-ui.row-expand-file-formatter .row-expand-item-file .dtable-file-icons-choice {
  height: 20px;
  width: 100%;
  top: 0;
  position: absolute;
  color: #fff;
  display: none;
  padding: 0 3px;
  justify-content: flex-end;
  align-items: center;
}

.dtable-ui.row-expand-file-formatter .row-expand-item-file:hover .dtable-file-icons-choice {
  display: flex;
}

.dtable-ui.row-expand-file-formatter .row-expand-item-file .dtable-file-icons-choice .file-icon {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dtable-ui.row-expand-file-formatter .row-expand-item-file .dtable-file-icons-choice .file-icon:nth-child(2) {
  margin-left: 5px;
}

.dtable-ui.row-expand-file-formatter .row-expand-item-file .dtable-file-icons-choice .file-icon .dtable-font {
  font-size: 12px;
  transform: scale(.7);
}

.tooltip-inner {
  font-weight: lighter;
  text-align: justify;
}
