@import url('../css/cell-formatter.css');

.dtable-ui.link-formmatter {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  flex-wrap: nowrap;
}

.dtable-ui.link-formatter .link-item {
  display: inline-flex;
  height: 20px;
  max-width: 230px;
  padding: 0 8px;
  align-items: center;
  font-size: 13px;
  margin-right: 10px;
  border-radius: 3px;
  background: #eceff4;
  cursor: pointer;
}

.dtable-ui.link-formatter .link-item .link-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
