.dtable-customize-collaborator-select.dtable-select {
  position: unset;
}

.dtable-customize-collaborator-select .collaborator-avatar {
  width: 16px;
  height: 16px;
  transform: translateY(-1px);
}

.dtable-customize-collaborator-select .option-group {
  position: absolute;
  left: 0px;
  min-height: 60px;
  max-height: unset;
  min-width: 100%;
  max-width: 15rem;
  padding: 0.5rem 0;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
  background: #fff;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 3px;
  z-index: 10001;
}

.dtable-customize-collaborator-select .option-group .option-group-search {
  width: 100%;
  padding: 0 10px;
  min-width: 170px;
}

.dtable-customize-collaborator-select .option-group-search .form-control {
  height: 31px;
}

.dtable-customize-collaborator-select .option-group .none-search-result {
  height: 100px;
  width: 100%;
  padding: 10px;
  opacity: .5;
}

.dtable-customize-collaborator-select .option-group .option-group-content {
  max-height: 252px;
  overflow-y: auto;
  padding: 10px;
}

.dtable-customize-collaborator-select .selected-option-show {
  width: calc(100% - 20px);
  height: 20px;
}

.dtable-customize-collaborator-select .selected-option {
  width: auto;
  overflow-x: auto;
}

.dtable-customize-collaborator-select .dtable-icon-down3 {
  margin-left: .5rem;
}

.dtable-customize-collaborator-select .option-collaborator {
  display: flex;
}

.dtable-customize-collaborator-select .collaborator-container {
  flex: 1 1;
}

.dtable-customize-collaborator-select .editor-list-delete .collaborator-container {
  flex: 1 1;
  display: inline;
}

.dtable-customize-collaborator-select .multiple-check-icon {
  display: inline-flex;
  width: 20px;
  text-align: center;
}

.dtable-customize-collaborator-select .collaborator-check-icon .dtable-icon-check-mark, 
.dtable-customize-collaborator-select .multiple-check-icon .dtable-icon-check-mark {
  font-size: 12px;
  color: #798d99;
}

.dtable-customize-collaborator-select.dtable-select .option-active,
.dtable-customize-collaborator-select.dtable-select .option:hover {
  color: #212529;
  background-color: #f5f5f5;
}

.dtable-customize-collaborator-select.dtable-select .option.option-active .select-option-name {
  color: #212529;
}

.collaborator-select .option-group-content .collaborator,
.dtable-customize-collaborator-select .option-group .option-group-content .collaborator {
  background: none;
}

.dtable-customize-collaborator-select .collaborator-avatar-container {
  width: 16px;
}

.dtable-customize-collaborator-select .option-group-content .remove-container {
  display: none;
}

.dtable-customize-collaborator-select .collaborator-container {
  display: flex;
  justify-content: space-between;
}

.collaborator-container .collaborator-name {
  margin-left: 5px;
  max-width: 200px;
  color: #212529;
}

.collaborator-select .option-group {
  max-height: fit-content;
}
