.dtable-ui-mobile-geolocation-editor-picker .am-picker-popup-content .am-picker-popup-header-left {
  color: #666666;
}

.dtable-ui-mobile-geolocation-editor-picker .am-picker-popup-content .am-picker-popup-title {
  color: #212529;
}

.dtable-ui-mobile-geolocation-editor-picker .am-picker-popup-content .am-picker-popup-header-right {
  color: #e5a252;
}
