.departments-container.dtable-ui {
  position: absolute;
  background-color: #fff;
  border-radius: 3px;
  min-width: 12rem;
  height: 285px;
  box-shadow: 0 0 5px #ccc;
  top: -4px;
  left: -3px;
  width: calc(100% + 8px);
  z-index: 1100;
  min-height: 260px;
  padding-top: 0;
  cursor: default;
}

.departments-container.dtable-ui.filter {
  top: 42px;
  left: 0px;
  width: 300px;
  height: 285px;
}

.departments-container.dtable-ui .search-departments {
  padding: 10px 10px 0px;
}

.departments-container.dtable-ui .search-departments input {
  height: 30px !important;
  font-size: 14px;
  display: initial !important;
}

.departments-container.dtable-ui .department-item-container {
  background-color: #fff;
  max-height: 240px;
  overflow: auto;
  cursor: pointer;
  padding: 10px 0;
}

.departments-container.dtable-ui .expand {
  color: #b5b5b5;
  font-size: 12px;
  cursor: pointer;
  margin-left: 0px !important;
}

.departments-container.dtable-ui .expand:hover {
  color: #555;
}

.departments-container.dtable-ui .department-select-input {
  width: 15px !important;
  height: 15px !important;
  margin-right: 5px;
  cursor: pointer;
}

.departments-container.dtable-ui .department-item {
  padding: 4px 15px 4px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.departments-container.dtable-ui .department-item .department-item-fold-btn {
  margin-right: 2px;
}

.departments-container.dtable-ui .department-item:hover {
  background: #f5f5f5;
  color: #212529;
}

.departments-container.dtable-ui .selected-option-show {
  width: 95%;
}
