.dtable-select-check-icon {
  width: 14px;
  height: 14px;
  text-align: center;
}

.dtable-select-check-icon .dtable-font {
  font-size: 14px;
  color: var(--bs-icon-color);
}

.seatable-option .seatable-tip-default {
  font-size: 12px;
  margin-top: 4px
}

.select-option-name .group-select-option,
.seatable-option.option-name {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
