/* hide checkbox in select value container */
.seatable-select-value-container .seatable-multicolor-icon-check {
  display: none;
}

.seatable-select-value-container .select-option-label {
  font-size: 14px !important;
}

.seatable-check-color {
  color: var(--bs-icon-secondary-color);
}
