.dtable-ui-mobile-image-editor .dtable-ui-image-previewer-container {
  width: 100%;
  margin-top: 20px;
}

.dtable-ui-mobile-image-editor .dtable-ui-image-previewer-container .dtable-ui-image-previewer-wrapper {
  background-color: #fff;
  width: 100%;
  border-top: 1px solid rgb(233, 233, 233);
  border-bottom: 1px solid rgb(233, 233, 233);
  height: fit-content;
}

.dtable-ui-mobile-image-editor .dtable-ui-image-previewer-container .dtable-ui-image-previewer-box {
  margin-right: 0;
}

.dtable-ui-mobile-image-editor .dtable-ui-image-previewer-container .dtable-ui-image-previewer-box:nth-child(even) {
  margin-left: 15px;
}

.dtable-ui-mobile-image-editor .dtable-ui-image-previewer-container .add-item-btn {
  margin-top: 20px;
  border-bottom: 1px solid #dedede;
}

.dtable-ui-mobile-image-editor .dtable-ui-image-previewer-container .add-item-btn:hover {
  background-color: #fff;
}
