@import url('../../RowExpandSingleSelectorEditor/lg/index.css');

.dtable-ui-row-expand-select-options {
  min-height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.dtable-ui-row-expand-select-options .dtable-ui-select-option.dtable-ui-multiple-select-option {
  margin-right: 10px !important;
  display: inline-flex;
  max-width: 250px;
}

.dtable-ui-row-expand-select-options .dtable-ui-multiple-select-option .dtable-ui-select-option-name {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dtable-ui-row-expand-select-options .dtable-ui-multiple-select-option .dtable-ui-select-option-remove {
  width: 16px;
  text-align: right;
}

.dtable-ui-row-expand-select-options .dtable-ui-multiple-select-option .dtable-ui-select-option-remove .remove-icon {
  display: inline-block;
  position: relative;
  right: -2px;
  width: 14px;
  height: 20px;
  cursor: pointer;
}

.dtable-ui-row-expand-select-options .dtable-ui-multiple-select-option .dtable-ui-select-option-remove .dtable-font {
  display: inline-block;
  font-size: 12px;
  color: #999;
  transform: scale(0.8);
}
