.dtable-ui-checkbox-editor {
  position: relative;
  width: 24px;
  height: 24px;
}

.dtable-ui-checkbox-editor .dtable-ui-checkbox-check-mark {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  color: #20c933;
}

.dtable-ui-checkbox-check-svg {
  width: 16px;
  height: 16px;
}
