.dtable-ui.cell-formatter-container {
  overflow: hidden;
  line-height: 1;
}

/* collaborator */
.dtable-ui.collaborator-item {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  padding: 0 8px 0 2px;
  height: 20px;
  font-size: 13px;
  border-radius: 10px;
  background: #eaeaea;
}

.dtable-ui.collaborator-item .collaborator-avatar,
.dtable-ui.collaborator-item .collaborator-name,
.dtable-ui.collaborator-item .collaborator-remove {
  height: 20px;
  line-height: 20px;
}

.dtable-ui.collaborator-item .collaborator-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px 0 2px;
}

.dtable-ui.collaborator-item .collaborator-avatar img {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.dtable-ui.collaborator-item .collaborator-remove {
  display: inline-block;
  width: 14px;
  margin: 0 -2px 0 2px;
}

.dtable-ui.collaborator-item .collaborator-remove .dtable-font {
  display: inline-block;
  font-size: 12px;
  color: #909090;
  transform: scale(.8);
  cursor: pointer;
}

.dtable-ui.collaborator-item .collaborator-remove .dtable-font:hover {
  color: #666666;
  cursor: pointer;
}

/* long-text */
.dtable-ui.long-text-formatter {
  display: flex;
  align-items: center;
  height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dtable-ui.long-text-formatter .long-text-links {
  display: inline-block;
  height: 20px;
  padding: 2px;
  margin: 4px;
  color: #9c9c9c;
  background-color: #f0f0f0;
  border-radius: 3px;
}

.dtable-ui.long-text-formatter .long-text-images {
  margin-right: -10px;
}

.dtable-ui.long-text-formatter .long-text-images img {
  max-width: 28px;
  max-height: 28px;
  border: 1px solid #f0f0f0;
  box-sizing: border-box;
  border-radius: 3px;
}

.dtable-ui.long-text-formatter .long-text-images .image-number {
  display: inline-block;
  min-width: 14px;
  padding: 0 3px;
  line-height: 14px;
  font-style: normal;
  font-size: 12px;
  border-radius: 6px;
  background-color: #999;
  color: #fff;
  transform: translate(-50%, 9px) scale(0.8);
}

.dtable-ui.file-formatter {
  display: flex;
  align-items: center;
}

.dtable-ui.file-formatter .file-item-icon {
  display: inline-block;
  height: 28px;
  width: 28px;
  border: 1px solid #f0f0f0;
}

.dtable-ui.file-formatter .file-item-count {
  display: inline-block;
  padding: 0 3px;
  min-width: 14px;
  line-height: 14px;
  font-size: 12px;
  border-radius: 6px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
  background-color: #999;
  -webkit-transform: translate(-50%, 8px) scale(.8);
  transform: translate(-50%, 8px) scale(.8);
}


.dtable-ui.image-formatter {
  display: flex;
  align-items: center;
}

.dtable-ui.image-formatter .image-item {
  display: inline-block;
  height: 28px;
  width: 28px;
  margin-right: 4px;
  border: 1px solid #f0f0f0;
}

.dtable-ui.image-formatter .image-item:hover {
  border: 1px solid #c9c9c9;
}

.dtable-ui.image-formatter .image-item-count {
  display: inline-block;
  padding: 0 3px;
  min-width: 14px;
  line-height: 14px;
  font-size: 12px;
  border-radius: 6px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
  background-color: #999;
  -webkit-transform: translate(-50%, 8px) scale(.8);
  transform: translate(-50%, 8px) scale(.8);
}

.dtable-ui.link-formmatter {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  flex-wrap: nowrap;
}

.dtable-ui.link-formatter .link-item {
  display: inline-flex;
  height: 20px;
  max-width: 230px;
  padding: 0 8px 0 2px;
  font-size: 13px;
  margin-right: 10px;
  border-radius: 3px;
  background: #eceff4;
  cursor: pointer;
}

.dtable-ui.link-formatter .link-item .link-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* url formatter */

.dtable-ui.url-formatter {
  text-decoration: underline;
}



