.dtable-ui-mobile-action-sheet .am-action-sheet-button-list {
  text-align: left;
  color: #212529;
}

.dtable-ui-mobile-action-sheet .am-action-sheet-button-list .am-action-sheet-button-list-item {
  padding: 0;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  overflow-y: hidden;
}

html:not([data-scale]) .dtable-ui-mobile-action-sheet .am-action-sheet-button-list .am-action-sheet-button-list-item::before {
  background-color: #fff;
}

.dtable-ui-mobile-action-sheet .my-am-action {
  padding: 0 16px;
  align-items: center;
}

.dtable-ui-mobile-action-sheet .am-action-sheet-button-list .am-action-sheet-button-list-item .dtable-font {
  color: #888;
  font-size: 20px;
  margin-right: 16px;
}
