html, body, #root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app .app-body {
  flex: 1;
}

.app .app-body .collaborator-container {
  padding: 5px;
  border: 1px solid;
}
