html, body, #root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app .app-body {
  margin: 0px auto;
  padding: 20px;
  border: 1px solid rgb(136, 136, 136);
  width: 800px;
}

.app .app-body .header-icon {
  display: inline-block;
  padding: 0 0.3125rem;
  margin-left: -0.3125rem;
}

.app .app-body .header-icon .dtable-font {
  font-size: 14px;
  color: rgba(33, 37, 41, 0.65);
}

.app-body .col-md-3 {
  display: flex;
  padding-top: 9px;
  height: fit-content;
}

.app-body .col-md-3 .column-name {
  color: #949494;
}
