.dtable-ui.dtable-row-expand-formatter {
  width: 100%;
  max-width: 100%;
}

.dtable-ui.dtable-row-expand-formatter .row-cell-empty {
  height: 8px;
  width: 20px;
  background-color: #f1f1f1;
  border-radius: 4px;
  display: inline-block;
}

.dtable-ui.dtable-row-expand-formatter .dtable-ui.collaborator-item {
  margin: 5px 10px 5px 0;
}

.dtable-ui.dtable-row-expand-formatter .dtable-ui.formula-formatter,
.dtable-ui.dtable-row-expand-formatter .dtable-ui.text-formatter,
.dtable-ui.dtable-row-expand-formatter .dtable-ui.url-formatter,
.dtable-ui.dtable-row-expand-formatter .dtable-ui.email-formatter {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 2.375rem;
  line-height: 2.375rem;
  width: 100%;
}

.dtable-ui.dtable-row-expand-formatter .dtable-ui.multiple-select-formatter .dtable-ui.select-item {
  margin: 5px 0;
}

.dtable-ui.dtable-row-expand-formatter .dtable-ui.geolocation-formatter {
  width: fit-content;
  min-width: 80px;
  max-width: 100%;
  height: 28px;
  line-height: 24px;
  border: 2px solid transparent;
  padding: 0 10px;
  background-color: #f0f0f0;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
}

.dtable-ui.dtable-row-expand-formatter .form-control {
  background-color: #f8f9fa;
  padding: 0 10px;
  height: fit-content;
  min-height: 2.375rem;
}

.dtable-ui.dtable-row-expand-formatter .ctime-formatter-container,
.dtable-ui.dtable-row-expand-formatter .mtime-formatter-container {
  padding: 0.375rem 0.75rem;
}

.dtable-ui.dtable-row-expand-formatter .checkbox-formatter-container {
  width: 24px;
  height: 24px;
  border: 2px solid #e0e0e0;
  border-radius: 3px;
  display: flex;
  justify-content: center;
}

.dtable-ui.dtable-row-expand-formatter .checkbox-formatter-container .cell-formatter-container {
  line-height: inherit;
}

.dtable-ui.dtable-row-expand-formatter .button-formatter {
  text-align: center;
  height: 26px;
  line-height: 14px;
  min-width: 80px;
  max-width: 100%;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 3px;
  border-width: 2px;
  font-weight: 500;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  letter-spacing: .03em;
}

.dtable-ui.dtable-row-expand-formatter .longtext-formatter-container {
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 3px;
  padding: 0.375rem 0.75rem;
  height: auto;
  background-color: #fff;
}

.dtable-ui.dtable-row-expand-formatter .dtable-ui-geolocation-formatter-container {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

.dtable-ui.dtable-row-expand-formatter .dtable-link-formatter {
  padding-top: 8px;
}

.dtable-ui-row-expand-select-formatter.custom-select {
  display: flex;
  padding: 0 10px;
  border-radius: 3px;
  align-items: center;
  justify-content: space-between;
  -webkit-user-select: none;
  user-select: none;
  text-align: left;
  position: relative;
  cursor: pointer;
  height: fit-content;
  min-height: 2.375rem;
  background-color: #f8f9fa !important;
  cursor: default;
}

.dtable-ui-row-expand-select-formatter .dtable-ui-row-expand-select-formatter-inner {
  display: flex;
  flex: 1 1;
  overflow: hidden;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
