.dtable-ui-row-expand-add-btn {
  min-width: 80px;
  max-width: 100%;
  height: 28px;
  line-height: 24px;
  border: 2px solid transparent;
  padding: 0 10px;
  background-color: #f0f0f0;
  border-radius: 3px;
  color: #666666;
  font-size: 14px;
  text-align: center;
  display: inline-flex;
  cursor: pointer;
  width: fit-content;
}

.dtable-ui-row-expand-add-btn:hover {
  background-color: #dbdbdb;
  color: #666666;
  cursor: pointer;
}
