.dtable-ui-filters-list {
  min-height: 120px;
  max-height: 100%;
  padding: 15px;
}

.dtable-ui-filters-list.empty-filters-container {
  min-height: 80px;
  padding: 16px;
}

.dtable-ui-filters-list.empty-filters-container .empty-filters-list {
  padding-left: 0;
}

.dtable-ui-filters-list .empty-filters-list {
  padding: 0.25rem;
  font-size: 14px;
  color: #666666;
}

/* ---- filter group start ---- */
.dtable-ui-filters-list .filter-group {
  display: flex;
  align-items: center;
  padding: 0.25rem 0;
}

.dtable-ui-filters-list .filter-group .filter-group-wrapper {
  flex: 1;
  display: flex;
}

.dtable-ui-filters-list .filter-group .delete-filter,
.dtable-ui-filters-list .filter-group .filter-conjunction {
  align-self: flex-start;
}

.dtable-ui-filters-list .filter-group .delete-filter,
.dtable-ui-filters-list .filter-group .filter-conjunction.conjunction-text {
  margin-top: 8px;
}

.dtable-ui-filters-list .filter-group .filter-group-container {
  width: calc(100% - 72px);
  min-height: 38px;
  margin-left: .5rem;
  padding: 4px 10px;
  border: 1px solid rgba(0, 40, 100, .12);
  border-radius: 3px;
}

.dtable-ui-filters-list .filter-group.draggable .filter-group-container {
  /* 94: conjunction width(72) + drag icon width(16) + drag icon margin left(8) */
  width: calc(100% - 96px);
}

.dtable-ui-filters-list .filter-group.readonly .filter-group-container {
  width: calc(100% - 52px);
}

.dtable-ui-filters-list .filter-group.level-1 .filter-group-container {
  background-color: #f7f7f7;
}

.dtable-ui-filters-list .filter-group-container .group-filter-add-tool {
  border-top: unset;
  background-color: #f7f7f7;
  margin-top: 2px;
  padding: 0;
  height: 30px;
  line-height: 30px;
  font-weight: 400;
}

.dtable-ui-filters-list .filter-group-container .group-filter-add-tool .dtable-icon-add-table,
.dtable-ui-filters-list .filter-group-container .group-filter-add-tool .add-new-option {
  color: #999;
}

.dtable-ui-filters-list .filter-group-container .group-filter-add-tool:hover .dtable-icon-add-table,
.dtable-ui-filters-list .filter-group-container .group-filter-add-tool:hover .add-new-option {
  color: #555;
}

.dtable-ui-filters-list .dtable-filter-group-drag {
  display: flex;
  margin-left: .5rem;
}

.dtable-ui-filters-list .drag-filter-handle,
.dtable-ui-filters-list .drag-filter-group-handle {
  color: #949494;
  cursor: grab;
}

.dtable-ui-filters-list .dragging-filter-wrapper .group-filter-add-tool,
.dtable-ui-filters-list .dragging-filter-wrapper .delete-filter {
  display: none;
}

/* ---- filter group end ---- */

.dtable-ui-filters-list .filter-item {
  display: flex;
  align-items: center;
  padding: 0.25rem 0;
}

.dtable-ui-filters-list .filter-item .condition {
  display: flex;
  flex: 1;
}

.dtable-ui-filters-list .filter-item .condition>div {
  height: 38px;
  line-height: 38px;
  margin-left: 0.5rem;
}

.dtable-ui-filters-list .filter-item .condition>div:first-child {
  margin-left: 0;
}

.dtable-ui-filters-list .filter-item .filter-term {
  max-width: 300px;
  min-width: 70px;
}

.dtable-ui-filters-list .filter-item .filter-term .option-group-content .option.option-active .dtable-font {
  color: #798d99;
}

.dtable-ui-filters-list .filter-conjunction {
  width: 72px;
}

.dtable-ui-filters-list .filter-conjunction-readonly {
  width: 52px;
}

.dtable-ui-filters-list .filter-container {
  width: calc(100% - 72px);
  display: flex;
}

.dtable-ui-filters-list .dtable-select .selected-option-show {
  width: calc(100% - 20px);
}

.dtable-ui-filters-list .dtable-select.collaborator-select .selected-option-show {
  height: auto;
}

.dtable-ui-filters-list .dtable-select .selected-option {
  width: auto;
  overflow-x: auto;
}

.dtable-ui-filters-list .dtable-select .dtable-icon-down3 {
  margin-left: 0.5rem;
}

.dtable-ui-filters-list .selected-conjunction-show {
  padding: 0 10px;
  color: #666666;
}

.dtable-ui-filters-list .filter-column {
  max-width: 150px;
}

.filter-term .dtable-ui-multiple-select-selector .option,
.filter-term .dtable-ui-single-select-selector .option {
  height: 30px;
  padding: 0 10px;
}

.filter-term .dtable-ui-multiple-select-selector .select-option-name,
.filter-term .dtable-ui-single-select-selector .select-option-name {
  margin-top: 5px !important;
}

.filter-term .dtable-ui-single-select-selector .option:hover {
  color: #212529;
  background-color: #f7f7f7;
}

.filter-term .dtable-ui-single-select-selector .option:hover .select-option-name,
.filter-term .dtable-ui-multiple-select-selector .option:hover .select-option-name,
.filter-term .dtable-ui-collaborator-selector .option:hover .select-option-name {
  color: unset;
}

.filter-term .dtable-ui-collaborator-selector .dtable-icon-down3 {
  padding-left: 5px;
}

.dtable-ui-filters-list .dtable-ui-collaborator-selector .selected-option-show {
  text-overflow: unset;
}

.dtable-ui-filters-list .dtable-ui-multiple-select-selector .option:hover,
.dtable-ui-filters-list .dtable-ui-multiple-select-selector .option.option-active,
.option-group-dtable-ui-collaborator-selector .option:hover,
.option-group-dtable-ui-collaborator-selector .option.option-active {
  color: #212529;
  background-color: #f7f7f7;
}

.dtable-ui-filters-list .dtable-ui-multiple-select-selector .option.option-active .select-option-name,
.option-group-dtable-ui-collaborator-selector .option.option-active .select-option-name {
  color: #212529;
}

.dtable-ui-filters-list .selected-option .multiple-select-option,
.dtable-ui-filters-list .selected-option .single-select-option {
  display: inline-block;
  margin: 0;
}

.dtable-ui-filters-list .filter-term input {
  display: flex;
  width: 100%;
  height: 38px;
  background-color: #ffffff;
  padding-left: 8px;
  padding-right: 8px;
  outline: none;
  border-radius: 3px;
  font-size: 0.875rem;
}

.dtable-ui-filters-list .filter-term input:hover {
  border-color: rgb(179, 179, 179);
}

.dtable-ui-filters-list .filter-term input.disabled:hover {
  border-color: rgba(0, 40, 100, 0.12);
}

.dtable-ui-filters-list .filter-term input:hover:focus {
  border-color: #1991eb;
}

.dtable-ui-filters-list .filter-term input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #1991eb;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.25);
}

.dtable-ui-filters-list .filter-term .date-picker-container input:focus {
  color: #495057;
  background-color: #fff;
  border: 1px solid #fff;
  outline: 0;
}

.dtable-ui-filters-list .filter-term .rc-calendar-input {
  border: 1px solid transparent;
  color: #666;
  cursor: text;
  height: 22px;
  font-size: 12px;
  line-height: 1.5;
  outline: 0;
  width: 100%;
}

.dtable-ui-filters-list .filter-term .date-picker-container table tr {
  height: 30px;
}

.dtable-ui-filters-list .filter-term input[type='checkbox'] {
  width: inherit;
}

.dtable-ui-filters-list .filter-term input[type='checkbox']:focus {
  border: 0;
  box-shadow: none;
}

.filter-term .filter-rate-list {
  display: flex;
  padding: 0 5px;
  border: 1px solid rgba(0, 40, 100, 0.12);
}

.dtable-ui-filters-list .delete-filter {
  width: 12px;
  height: 20px;
  margin-right: 14px;
  text-align: center;
}

.dtable-ui-filters-list .delete-filter:hover {
  cursor: pointer;
}

.dtable-ui-filters-list .delete-filter .dtable-icon-fork-number {
  display: inline-block;
  font-size: 12px;
  color: #999;
}

.dtable-ui-filters-list .multiple-option-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dtable-ui-filters-list .multiple-check-icon,
.dtable-ui-filters-list .collaborator-check-icon,
.option-group-dtable-ui-collaborator-selector .collaborator-check-icon {
  display: inline-flex;
  width: 20px;
  height: 20px;
  align-items: center;
  text-align: center;
}

.dtable-ui-filters-list .multiple-check-icon .dtable-icon-check-mark,
.dtable-ui-filters-list .collaborator-check-icon .dtable-icon-check-mark,
.option-group-dtable-ui-collaborator-selector .collaborator-check-icon .dtable-icon-check-mark {
  font-size: 12px;
  color: #798d99;
}

.user-select-item,
.collaborator {
  display: inline-flex;
  align-items: center;
  height: 20px;
  margin-right: 10px;
  padding: 0 8px 0 2px;
  font-size: 13px;
  border-radius: 10px;
  background: #eaeaea;
}

.option-group-dtable-ui-collaborator-selector .collaborator-show .dtable-ui-filters-list .collaborator-show {
  flex: 1;
}

.option-group-dtable-ui-collaborator-selector .collaborator-avatar-container,
.dtable-ui-filters-list .collaborator-avatar-container {
  width: 16px;
}

.option-group-dtable-ui-collaborator-selector .collaborator-avatar,
.dtable-ui-filters-list .collaborator-avatar {
  width: 16px;
  height: 16px;
  transform: translateY(-1px);
  border-radius: 50%;
}

.option-group-dtable-ui-collaborator-selector .option .collaborator-avatar,
.dtable-ui-filters-list .option .collaborator-avatar {
  transform: translateY(-2px);
}

.option-group-dtable-ui-collaborator-selector .collaborator-name,
.dtable-ui-filters-list .collaborator-name {
  margin-left: 5px;
  max-width: 200px;
}

.option-group-dtable-ui-collaborator-selector .option-collaborator,
.dtable-ui-filters-list .option-collaborator {
  display: flex;
}

.option-group-dtable-ui-collaborator-selector .collaborator-container,
.dtable-ui-filters-list .collaborator-container {
  flex: 1;
}

.dtable-ui-filters-list .popover-add-tool {
  border-top: none;
  color: #666666;
}

.dtable-ui-filters-list .popover-add-tool .popover-add-icon {
  margin-right: 14px;
}

.dtable-ui-filters-list .filter-item .dtable-icon-fork-number:hover {
  color: #555555;
}

.dtable-ui-filters-list .filter-container-readonly .dtable-select .selected-option-show,
.dtable-ui-filters-list .filter-conjunction-readonly .dtable-select .selected-option-show {
  width: 100%;
}

.dtable-ui-filters-list .filter-checkbox-predicate .dtable-select .selected-option-show {
  width: 100%;
}

.dropdown-item .collaborator,
.dtable-ui-filters-list .option-group-content .collaborator,
.option-group-dtable-ui-collaborator-selector .option-group-content .collaborator {
  background-color: unset;
}

.dtable-ui-filters-list .dtable-select .selected-option-show .remove-container {
  display: none;
}

.filter-header-icon {
  display: inline-block;
  padding: 0 0.3125rem;
  margin-left: -0.3125rem;
}

.filter-header-icon .dtable-font {
  font-size: 14px;
  color: #aaa;
  cursor: default;
}

.option.option-active .filter-header-icon .dtable-font {
  color: #fff;
}

.dtable-ui-filters-list .single-select-option,
.dtable-ui-filters-list .multiple-select-option,
.option-group-dtable-ui-single-select-selector .single-select-option,
.option-group-dtable-ui-multiple-select-selector .multiple-select-option {
  display: block;
  text-align: left;
  width: min-content;
  max-width: 150px;
  line-height: 20px;
  border-radius: 10px;
  padding: 0px 10px;
  margin: 0;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
