.dtable-ui-mobile-geolocation-map-selection-editor .dtable-ui-mobile-geolocation-map-editor-input-container {
  display: flex;
  background: #fff;
  align-items: center;
  padding: 7px 20px;
  height: 44px;
  width: 100%;
}

.dtable-ui-mobile-geolocation-map-selection-editor .dtable-ui-mobile-geolocation-map-editor-input {
  height: 30px !important;
  min-height: unset;
  border: 1px solid #ddd;
  width: 86%;
  border-radius: 3px 0 0 3px;
}

.dtable-ui-mobile-geolocation-map-selection-editor .dtable-ui-mobile-geolocation-map-editor-input input {
  font-size: 16px !important;
}

.dtable-ui-mobile-geolocation-map-selection-editor .dtable-ui-mobile-geolocation-map-editor-search-btn {
  height: 30px;
  width: 14%;
  border: 1px solid #ddd;
  border-left: none;
  border-radius: 0 3px 3px 0;
  padding: unset;
  box-shadow: unset;
  color: #666;
  background-color: #f5f5f5;
  font-size: 0.875rem;
  line-height: 1.8;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
}

.dtable-ui-mobile-geolocation-map-selection-editor .dtable-ui-mobile-geolocation-map-editor-map {
  flex: 1;
  overflow: hidden;
  width: 100%;
  position: relative;
}

/* search results */
.dtable-ui-mobile-geolocation-map-selection-editor .dtable-ui-mobile-map-selection-editor-search-results {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  border-top: 1px solid #eee;
  overflow-y: scroll;
}

.dtable-ui-mobile-geolocation-map-selection-editor .dtable-ui-mobile-map-selection-editor-search-result {
  height: 56px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  padding: 8px 16px;
}

.dtable-ui-mobile-geolocation-map-selection-editor .dtable-ui-mobile-map-selection-editor-search-result {
  height: 56px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 8px 16px;
}

.dtable-ui-mobile-geolocation-map-selection-editor .dtable-ui-mobile-map-selection-editor-search-result-title {
  font-size: 14px
}

.dtable-ui-mobile-geolocation-map-selection-editor .dtable-ui-mobile-map-selection-editor-search-result-address {
  color: #666;
  font-size: 12px;
}

.dtable-ui-mobile-geolocation-map-selection-editor .dtable-ui-mobile-map-selection-editor-search-result span {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dtable-ui-mobile-geolocation-map-selection-editor .dtable-ui-mobile-map-selection-editor-search-result:last-child {
  border-bottom: none;
}

.dtable-ui-mobile-geolocation-map-selection-editor .dtable-ui-mobile-geolocation-map-editor-label {
  width: 100%;
  min-height: 120px;
  height: fit-content;
  background-color: #fff;
  position: relative;
  flex-shrink: 0;
}

.dtable-ui-mobile-geolocation-map-selection-editor .dtable-ui-mobile-geolocation-map-editor-label.simple {
  min-height: 95px;
}

.dtable-ui-mobile-geolocation-map-selection-editor .dtable-ui-mobile-geolocation-map-editor-label-title {
  display: block;
  width: 85%;
  margin-left: 15px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}

.dtable-ui-mobile-geolocation-map-selection-editor .dtable-ui-mobile-geolocation-map-editor-label .dtable-icon-x {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 18px;
  color: #666;
}

.dtable-ui-mobile-geolocation-map-selection-editor .dtable-ui-mobile-geolocation-map-editor-label-address-tip {
  display: block;
  margin-left: 15px;
  margin-top: 0.25rem;
  color: #666;
  font-size: 12px;
}

.dtable-ui-mobile-geolocation-map-selection-editor .dtable-ui-mobile-geolocation-map-editor-label-tag {
  margin-left: 15px;
  font-size: 12px;
}

.dtable-ui-mobile-geolocation-map-selection-editor .dtable-ui-mobile-geolocation-map-editor-label-address {
  width: 77%;
  display: block;
  margin-left: 15px;
  margin-bottom: 1.5rem;
  font-size: 14px;
}

.dtable-ui-mobile-geolocation-map-selection-editor .dtable-ui-mobile-geolocation-map-editor-label-address.simple {
  margin-top: 2rem;
}

.dtable-ui-mobile-geolocation-map-selection-editor .dtable-ui-mobile-geolocation-map-editor-label-btn {
  position: absolute;
  right: 10px;
  bottom: 1rem;
  font-weight: normal;
}
