.role-status-editor .dropdown-toggle-button .dtable-icon-down3 {
  color: #b5b5b5;
  cursor: pointer;
}

.role-status-editor .dropdown-toggle-button .dtable-icon-down3.hide {
  display: none;
}

.role-status-editor .dropdown-toggle-button .dtable-icon-down3:hover {
  color: #555;
}

.role-status-editor .dropdown-toggle-button .dropdown-icon-container {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
  width: 20px;
  height: 20px;
}
